@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}



blockquote {
    font-size: 55px;
    text-shadow: 0 0 10px black;
    line-height: 1.3em;
    padding: 2em;
    background-color: rgba(223, 214, 214, 0.4);
    border-radius: 1em;
    backdrop-filter: blur(20px);
}







